[submodule "KAWANO"]
	path = KAWANO
	url = https://github.com/ckald/KAWANO-sterile.git
[submodule "interactions/four_particle/cpp/pybind11"]
	path = interactions/four_particle/cpp/pybind11
	url = https://github.com/pybind/pybind11
[submodule "interactions/three_particle/cpp/pybind11"]
	path = interactions/three_particle/cpp/pybind11
	url = https://github.com/pybind/pybind11
